@charset "UTF-8";
/*Regra @charset caso haja problemas com acentuação*/

h1{
    font-family: 'Oswald', sans-serif;
    color:#65C6BB;
    font-size: 80px;
    text-align: center;
}

h2{
    font-family: 'Oswald', sans-serif;
    color:#65C6BB;
    font-size: 40pt;
    text-align: left;
}


body{
    font-family: 'Oswald', sans-serif;
    color:black;
    font-size: 50;
    background-image: /images/
}

button{
    font-family: 'Oswald', sans-serif;
    color:black;

}

#countLabel{
    display: block;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-size: 40px;
}