@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:ital,wght@0,400;1,300&family=Roboto:ital@1&display=swap');

:root {
  --primary-color: #22A4F5;
  --primary-darker: #186796;
}


*{
  box-sizing: border-box;
  outline: 0;
}



body{
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: 'Merriweather', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;

}

.container {
  max-width: 640px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;

}

from input, form label, form button {
  display: block;
  width: 100%;
}

form input{
  font-size: 24px;
  height: 50px;
  margin-bottom: 20px;
}

form input:focus {
  outline: 1px 'black';
}

form button {
  border: none;
  background: var(--primary-color);
  color:#fff;
  font-size: 18px;
  font-weight:700;
  height:50px;
  cursor: pointer;
  
}

form button:hover{
  background: var(--primary-darker);
}