@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Roboto:ital@1&display=swap');
:root {
  --primary-color: #172554
}

* {
  box-sizing: border-box;
  outline: 0;

}
body {
  margin: 0;
  padding:0;
  background: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0em;
  line-height: 2.0em;
  color: #fff;
  
}

.container {
  max-width: 540px;
  margin: 50px auto;
  background: #4e4e4e;
  padding: 20px;
  border-radius: 15px;

}